
/*Extra large devices (large desktops, 1200px and up)*/
.container{
	padding: 0 15px;
}
@media (min-width: 1400px) { 
	.container{
		max-width: 1350px;
		margin: 0 auto;
	}
}
@media (min-width: 1200px) { 
	.container{
		max-width: 1200px;
		margin: auto;
	}
}

@media (max-width: 1199px) { 
	
}

@media (max-width: 991px) {
	
}

/*Medium devices (tablets, 767px and down)*/
@media (max-width: 767px) {
	
}

/*Small devices (landscape phones, 575px and down)*/
@media (max-width: 575px) {
	
}


