/* --------home page Latest blog area---------*/
.Latest_blog_area{
    background-image: url("../assets/img/home/blog-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Latest_blog_area h3::after{
    left: 50%;
    transform: translateX(-50%);
}
.home_blog_box{
    margin-top: 40px;
}
.home_blog_img{
    position: relative;
}
.blog_time_category{
    position: absolute;
    background-color: #bb0b0b;
    width: 80%;
    height: 40px;
    bottom: -12px;
    right: 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 20px 0px 20px;
}

.home_blog_content{
    padding: 30px ;
    background-color: rgb(231, 231, 231);
    margin-top: -7px;
}
.home_blog_title a{
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    transition: .3s;
}
.home_blog_title a:hover{
    color: #bb0b0b;
}
.home_blog_box svg{
    font-size: 20px;
    font-weight: 800;
    margin-left: 10px;
}
/* ------------------------- Blog page ----------------------*/
.blog_right_site{
    position: sticky;
    top: 30px;
}
.blog_right_site h3{
    font-size: 22px;
    margin-top: 75px;
    margin-bottom: 20px;
    line-height: 1;
}
.blog_right_site h3::after{
    height: 4px;
    top: -15px;
    width: 50px;
}


.post_img img{
    border-radius: 10px;
    transition: .3s;
}
.post_img img:hover{
    filter: brightness(.8);
}
.post_title{
    color: #313131;
    transition: .3s;
    font-size: 18px;
    text-transform: capitalize;
}
.post_title:hover{
    color: #bb0b0b;
}
.post_date{
    font-size: 13px;
    text-transform: capitalize;
    margin-top: 10px;
}
.post_date span span{
    color: #bb0b0b;
    font-weight: 500;
    margin-left: 5px;

}
.post_details p{
    margin: 15px 0;
    line-height: 1.6;
}
.post_read_more a{
    padding: 6px 15px;
    font-size: 12px;
    text-transform: uppercase;
}
.post_icon {
    color: #313131;
    text-align: center;
    position: relative;
    z-index: 1;
}
.post_icon::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgb(105, 105, 105);
    opacity: 0.3;
    left: 0;
    top: 15px;
    z-index: -1;
}
.post_icon_box {
    background-color: #ffffff;
    display: inline-block;
    padding: 0 5px;
}
.post_icon a  {
    color: #313131;
    margin: 0 5px;
    font-size: 12px;
    transition: 0.3s;
}
.post_icon a:hover  {
    color: #bb0b0b;
    transform: scale(1.5);
}

/* ------------------------- recent post  ----------------------*/
.recentpost_area_box{
    display: flex;
    align-items: center;
    margin: 7px 0;
}
.recentpost_img a img{
    object-fit: cover;
    transition: .3s;
}
.recentpost_img{
    margin-top: 7px;
    margin-right: 15px;
}
.recentpost_img img:hover{
    opacity: .6;
}
.recentpost_title a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    transition: 0.3s;
    line-height: 1.4;
}
.recentpost_title a:hover {
    color: #bb0b0b;
}
.right_text h3{
    font-size: 18px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(95, 95, 95);
    text-transform: uppercase;
}
.recentpost_date{
    font-size: 10px;
    color: rgb(102, 101, 101);
}

/* ------------------------- recent post  ----------------------*/
.categories_link {
    border-bottom: 1.5px solid rgba(196, 194, 194, 0.26);;
}
.categories_link svg{
    font-size: 16px;
}
.categories_link a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    transition: 0.3s;
    margin-left: 10px;
    text-transform: capitalize;
    padding: 5px 0;
}
.categories_link a:hover {
    color: #bb0b0b;
}
.cat_menu .categories_link{
    border: none;
    margin-left: 25px;
}
.cat_menu .categories_link a{ 
    padding: 1px 0; 
}
.cat_menu{
    transition: .4s;
    max-height: 0px;
    overflow: hidden;
}
.categories_link:hover .cat_menu{
    max-height: 300px;
}