/* First color  #bb0b0b; */
/* hover color  #8a0000; */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
html,
body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
h3 {
    line-height: 46px;
    font-weight: 700;
    font-size: 36px;
}
p {
    font-size: 15px;
    line-height: 27px;
    font-weight: 400;
    color: #454545;
}
.text_white {
    color: #ffffff;
}
.text_center {
    text-align: center;
}
a {
    color: inherit;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    display: inline-block;
}
svg,
img {
    vertical-align: middle;
    object-fit: cover;
}
.custom_btn a {
    display: inline-block;
    padding: 18px 35px 18px 35px;
    border-radius: 0px 0px 0px 0px;
    color: #fff;
    background: #bb0b0b;
    overflow: hidden;
    position: relative;
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
    z-index: 1;
}
.custom_btn a::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    transition: 0.4s;
    background-color: #8a0000;
}
.custom_btn a:hover:after {
    width: 300px;
    height: 200px;
    opacity: 1;
}
.Active {
    background-color: #bb0b0b;
    color: #fff;
}
.upper_line {
    position: relative;
}
.upper_line::after {
    position: absolute;
    content: "";
    top: -30px;
    left: 0;
    width: 70px;
    height: 7px;
    background-color: #bb0b0b;
}
.top_bottom_gap {
    padding: 85px 0;
}
.testimonial_right
    span.MuiRating-root.MuiRating-sizeMedium.MuiRating-readyOnly.css-ryrseu-MuiRating-root {
    font-size: 20px;
}
.testimonial_right
    span.MuiRating-icon.MuiRating-iconEmpty.css-1c99szj-MuiRating-icon {
    color: rgb(196, 196, 196);
}
.testimonial_right .swiper-pagination-bullet {
    background-color: #bb0b0b !important;
}
.testimonial_right .swiper-pagination-bullet-active {
    background-color: #bb0b0b !important;
}
.testimonial_right
    .swiper.swiper-initialized.swiper-horizontal.swiper-pointer-events.swiper-backface-hidden {
    padding-bottom: 50px;
}

.page_header {
    background-image: url("../assets/img/home/page-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page_header h2 {
    height: 50vh;
    display: flex;
    align-items: flex-end;
    padding: 110px 0;
    color: #fff;
    font-size: 30px;
    text-transform: capitalize;
}
.page_header h2::after {
    top: auto;
    bottom: 100px;
    height: 4px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 60px white inset !important;
}

.sticky {
    z-index: 999999999;
    position: fixed;
    top: -58px;
    transition: .3s;
    background-color: rgb(1 11 19 / 42%);
    box-shadow: 0 0 0px 1px #353535;
}

/*------------------ Media Query -------------------*/

@media (min-width: 1200px) { 
	
}

@media (max-width: 1199px) { 
	.sticky{
        top: 0;
    }
    .sticky .Navbar_bottom_header_area__VOK9k{
        height: 65px;
    }
}

@media (max-width: 991px) {
	
}

/*Medium devices (tablets, 767px and down)*/
@media (max-width: 767px) {
	
}

/*Small devices (landscape phones, 575px and down)*/
@media (max-width: 575px) {
	
}