/* -------------- for google ads -------------- */
.ads728_90 {
    width: 728px;
    height: 90px;
    background-image: url(../assets/img/ads/728_90.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.ads336_280 {
    width: 336px;
    height: 280px;
    background-image: url(../assets/img/ads/336_280.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.ads468_60 {
    width: 468px;
    height: 60px;
    background-image: url(../assets/img/ads/468_60.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.ads160_600 {
    width: 160px;
    height: 600px;
    background-image: url(../assets/img/ads/160_600.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.ads320_50 {
    width: 320px;
    height: 50px;
    background-image: url(../assets/img/ads/320_50.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.ads320_100 {
    width: 320px;
    height: 100px;
    background-image: url(../assets/img/ads/320_100.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.ads250_250 {
    width: 250px;
    height: 250px;
    background-image: url(../assets/img/ads/500_500.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.ads200_200 {
    width: 200px;
    height: 200px;
    background-image: url(../assets/img/ads/500_500.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
@media (min-width: 1200px) {
    /*-------------------- project and blog page --------------- */
    /* blog_left_site */
    .blog_left_site .ads468_60,
    .blog_left_site .ads320_100 {
        display: none;
    }
    /* blog_right_site */
    .blog_right_site .ads468_60,
    .blog_right_site .ads320_100,
    .blog_right_site .ads250_250 {
        display: none;
    }
    .blog_right_site .ads336_280,
    .blog_right_site .ads320_100,
    .blog_right_site .ads200_200 {
        display: none;
    }
    /*-------------------- project details  page --------------- */
    /* project details left site */
    .Project_details_left_site .ads468_60,
    .Project_details_left_site .ads320_100 {
        display: none;
    }
    /* project details right site */
    .Project_details_right_site .ads468_60,
    .Project_details_right_site .ads320_100,
    .Project_details_right_site .ads250_250 {
        display: none;
    }
    .Project_details_right_site .ads336_280,
    .Project_details_right_site .ads320_100,
    .Project_details_right_site .ads200_200 {
        display: none;
    }
}
@media (max-width: 1199.98px) {
    /*-------------------- project and blog page --------------- */
    /* blog_left_site  */
    .blog_left_site .ads728_90,
    .blog_left_site .ads320_100 {
        display: none;
    }
    /* blog_right_site */
    .blog_right_site .ads468_60,
    .blog_right_site .ads320_50,
    .blog_right_site .ads320_100 {
        display: none;
    }
    .blog_right_site .ads336_280,
    .blog_right_site .ads320_100,
    .blog_right_site .ads200_200 {
        display: none;
    }
    /*-------------------- project details  page --------------- */
    /* project details _left_site  */
    .Project_details_left_site .ads728_90,
    .Project_details_left_site .ads320_100 {
        display: none;
    }
    /* project details _right_site */
    .Project_details_right_site .ads468_60,
    .Project_details_right_site .ads320_50,
    .Project_details_right_site .ads320_100 {
        display: none;
    }
    .Project_details_right_site .ads336_280,
    .Project_details_right_site .ads320_100,
    .Project_details_right_site .ads200_200 {
        display: none;
    }
}
@media (max-width: 991.98px) {
    /*-------------------- project and blog page --------------- */
    /* blog_left_site */
    .blog_left_site .ads468_60 {
        display: none;
    }
    .blog_left_site .ads728_90 {
        display: block;
    }
    /* blog_right_site */
    .blog_right_site .ads250_250 {
        display: none;
    }
    /* blog_right_site */
    .blog_right_site .ads160_600 {
        display: none;
    }
    .blog_right_site .ads336_280 {
        display: block;
    }
    /* ----------project details page ------------- */
    .project_details .blog_right_site .ads160_600 {
        display: block;
    }
    .project_details .blog_right_site .ads336_280 {
        display: none;
    }
}

/*Medium devices (tablets, 767px and down)*/
@media (max-width: 767.98px) {
    /*-------------------- project and blog page --------------- */
    /* blog_left_site */
    .blog_left_site .ads468_60 {
        display: block;
    }
    .blog_left_site .ads728_90 {
        display: none;
    }
    /* ----------project details page-------------  */

    .Project_details_left_site .ads468_60 {
        display: block;
    }
    .Project_details_left_site .ads728_90 {
        display: none;
    }

    .Project_details_right_site .ads160_600 {
        display: none;
    }
}

/*Small devices (landscape phones, 575px and down)*/
@media (max-width: 549.98px) {
    /* blog_right_site */
    .blog_right_site .ads160_600,
    .blog_right_site .ads336_280 {
        display: none;
    }
    .blog_right_site .ads336_280 {
        display: none;
    }

    .blog_right_site .ads200_200 {
        display: block;
    }
    /*----------- project details page ---------------*/
    .Project_details_left_site .ads468_60 {
        display: none;
    }
    .Project_details_left_site .ads320_100 {
        display: block;
    }
}
@media (max-width: 499.98px) {
    .blog_left_site .ads468_60 {
        display: none;
    }
    .blog_left_site .ads320_100 {
        display: block;
    }
}
@media (max-width: 330.98px) {
}
